.background-page, .set-location, .login-page,.signup-page{
  background-image: url("../img/home-bg.png");
}

.dashboard, .confirm-booking, .background-page2{
   background-color: #FFF3E0;
}

.margin-left-25{
  margin-left:25px;
}

.margin-5{
  margin: 5%;
}

.align-center{
  text-align: center;
  width: 100%;
}

.pink-color{
  color: #ce1370;
}

.text-bold{
  text-decoration: none;
  font-weight: bold !important;
  color: #ce1370;
}

.login-page .button-style, .signup-page .button-style, .dashboard .button-style,.set-location .button-style{
  background-color: #ce1370;
  color:#FDF7F6;
  width: 90%;
  border: none;
  height:10%;
  margin-top:10%; 
  margin-bottom: 5%;
  padding:5%;
  border-radius: 5px;
  box-shadow: 1px -1px 5px #858180;/*vertical horizontal blur color*/
}

.background{
  background-color: black;
}

.cursor-pointer{
  cursor: pointer;
}


.border-pink{
  border-bottom: 2px solid #ce1370 !important;
}

.float-right{
  float:right;
}

.icon-dimensions{
  width: 32px;
  height: 30px;
}

.margin0{
  margin: 0 0 0 0 !important;
}

.padding0{
  padding: 0 0 0 0 !important;
  padding-left: 0 !important;
}

.font-10{
  font-size: 70%;
}

/*--------------------------*/
.login-page .scutops-image-logo{
  margin:10% 5% 0 5% ;
}

.login-page .scutops-image-logo img{
  width: 100%;
}

.login-page .login-username img{
  float: left;
  margin-left: 20px !important;
  margin-right: 5px !important;
  height:20px;
  width: 13px;
}

.login-page .login-username{
  margin: 15% 5% 5% 5%;
  left:10px;
  border-bottom: 2px solid #ce1370 !important;
}

.login-page .login-password img{
  float: left;
  margin-left: 10px !important;
  height: 12px;
  width: 30px;
}

.login-page .login-password{
  margin: 5%;
  left:10px;
  border-bottom: 2px solid #ce1370 !important;
}

.login-page .login-text{
  color: #ce1370;
  padding:0 2%;
  font-weight: 500;
 
}

.login-page input , .signup-page input{
width:auto;
background-color:transparent;
padding-left:3% !important;
}
/*------------------------------*/

.signup-page input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #ce1370 ;
}
.signup-page input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ce1370;
}
.signup-page input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #ce1370;
}
.signup-page input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #ce1370;
}
.signup-page input::-ms-input-placeholder { /* Microsoft Edge */
   color:   #ce1370;
}

.signup-page .input-container div{
  margin: 5%;
  border-bottom: 2px solid #ce1370 !important;
}
/*------------------------------------------------
.signup-service-text{
  font-size: 5px;
  background-color: white;
}
*/

.dashboard .options img{
  margin:7px 15px 0 5%;
  height:20px;
  width: 20px;
  float: left;
}

.dashboard .user-profile{
  background-image:url("../img/home-bg.png"); 
  height: 95px;
  padding:20px;
  position: relative;
}

.dashboard .user-dp{
  height: 50px;
  width:50px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-left: 5%;
}

.dashboard .user-name{
  padding-top: 14px;
 }

.dashboard .relative-position{
  position: relative !important;
}

.dashboard .main-content{
  padding-left: 30px !important;
  padding-top: 5%;
  overflow-y:scroll;
  font-size: 10px;
  line-height: 1.5em;
  height: 100%;
}

.dashboard .title{
padding-top: 10px;
margin-bottom: 25px;
}

.dashboard .title img{
float: left;
margin-top:3px;
}

.dashboard .title div{
padding-top: 2px;
float: left;
padding-left:2%;
}

.dashboard  .textarea-outer{
  padding-right: 30px!important;
}

.dashboard .textarea{
border-radius: 3px;
box-shadow: 0 0 15px 7px #F8D1CF;
border: 1px solid #ce1370 !important;
background-color: #FAFAFA;
padding: 5px 5px 5px 10px !important;
resize:none;
margin:auto;
}


.dashboard .small-icon-dimensions{
  width: 12px;
  height: 13px;
}


.dashboard .circular-icon{
  position: relative;
  border-radius: 50%; 
  box-shadow: 0 0 15px 7px #F8D1CF;
  background-color: #FAFAFA;
  z-index: 1;
  width: 90%;
}

.dashboard .tic-icon{
  position: absolute;
  top:4%;
  left: 70%;  
  width:20px;
  height: 20px;
  z-index: 2;

}

.dashboard .menu{
  float: top left;
  width:60%;
  position: absolute;
  height:140%;
  z-index: 4;
  background-color: rgb(250,206,128);
  color: #ce1370;
  font-size:12px;
}

.dashboard .menu .options{
line-height: 3em; 
padding-left: 20px; 
padding-top: 10px;
}

.dashboard .menu hr{
  margin-right: 30%;
  color: rgb(237,152,123);
}

.options.left-padding{
  padding-left: 35px !important;
}


/*-------------------------*/

.set-location .content,.dashboard .content{
  position: relative;
  top:80px;
}

.set-location .border-right{
  border-right:1px solid rgb(206,19,113);
}

.set-location .title-table{
  height:100%;
  width:90%;
  background-color:rgb(253,222,169) ;
  border:1px solid rgb(206,19,113);
  border-radius: 3px;
  margin: 15% 5% 5% 5% !important;
  box-shadow: 0 0 2px rgb(206,19,113);
  }

.set-location .table-row{
    margin:2% 2% 2% 2%;
    color: rgb(226,126,136);
    font-size: 0.7em;
    line-height: 1.3em;
  }

.set-location .title-table input,.set-location .promocode{
    color:rgb(214,75,123) !important;
    background-color: rgb(253,222,169);
    margin:auto;
    font-size: 1.1em !important;
    height: 15px !important;
    padding-left: 3px;
  }

.set-location .promocode {
  width: 75%;
}
/*
.signup-table{
  margin:10% 3% 0 3%;
  border-radius: 5px;
  background-color: #FDDEA9;
  border:1px solid #E27E88;
  padding: 0;
}
*/
/*display-options*/





/*SET-LOCATION*/



#map{
  height: 300px;
  width: 100%;
}

.service-location{
  position: absolute;
  width: 93%;
  line-height: 10px;
  color:#19B919;
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  border-radius: 2px;
  margin:10px 3% 3% 3%; 
  padding: 10px;
  z-index: 2;
}

.map-input-container{
  margin-top: 20px !important;
}

#location-input{
background-image: url("../img/setting1.png");
background-repeat: no-repeat;
background-position:center left;
padding:0 6% 0 6%;
margin:auto;
font-size: 15px;
width: 90%;
height:1.2em !important;
}

.input-number{
  padding-left: 2%;
  width:10%;
  margin:auto;
  background-color:  #FDDEA9;;
}

/*PAYMENT OPTIONS*/
.scutops-money{
  background-image: url('../img/home-bg.png');
  padding:1%;
  width: 70%;
  border-color: rgb(228,109,111);
  color:rgb(206,19,111);
  border-radius:3px;
  box-shadow: 1px 1px 1px rgb(246,181,110);
}

.main-content2{
  position: absolute;
  height: 100%;
  width: 100%;
  top:80px ;
  padding-top: 2%;
}

.main-content2 hr{
  color:rgb(245,198,201);
}

.font-8{
font-size: 90%;
}

.block-major{
  padding: 10px 10px 10px 10px !important;
  line-height: 2em;
}

.block{
  padding: 2% 10px 0 10px !important;
}
/*PLACEHOLDER STYLES*/
#location-input::-webkit-input-placeholder {
   text-align: center;
   color: black;
   font-weight: 200;
}

#location-input:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   color: black;  
   font-weight: 200;
}

#location-input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   color: black;  
   font-weight: 200;
}

#location-input:-ms-input-placeholder {  
   text-align: center; 
   color: black;
   font-weight: 200;
}


.textarea::-webkit-input-placeholder {
    font-size: 11px;
}

.textarea:-moz-placeholder { /* Firefox 18- */
    font-size: 11px;  
}

.textarea::-moz-placeholder {  /* Firefox 19+ */
    font-size: 11px;  
}

.textarea:-ms-input-placeholder {  
    font-size: 11px;
}


/*FOOTER STYLE*/
.footer{
  height: 65px;
  position: fixed;
  background-image: url("../img/home-bg.png");
  overflow: hidden;
  bottom:0;
  z-index: 2;
}

.header{
  background-image: url("../img/home-bg.png");
  padding-top:40px;
  position:fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

.header img{
  margin-left:25px;
}

.header .icon{
  padding-bottom: 2px;
}


/**/

hr { border-color: inherit; }
/*FEEDBACK*/
.feedback-text{
  padding: 80px 0 40px 0;
  font-size: 0.9em;
  line-height: 1.2em;
}

.feedback-input{
  width:90%;
  background-image: url("../img/feedback2.jpg");
  background-repeat: no-repeat;
  background-size: 100px 89px;
  background-position: center;
}

.confirm-booking .button-style{
  position: relative;
  background-color: #ce1370;
  color:#FDF7F6;
  width: 70%;
  border: none;
  border-radius: 5px;
  box-shadow: 1px -1px 5px #858180;
  float:bottom;
  margin: auto;
  margin-top: 5% !important;
  padding:10px 0 10px 0;
}