html{
  background-image: url("../img/home-bg.png")
}

/*.login-input-username{
  width:90%;
  margin: auto;
  border-bottom: 2px solid #ce1370 !important;
  background-image: url("../img/User_icon.png");
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: 5% ;
  padding-left: 10% !important;
  background-position: left center;
}*/

/*.login-input-username{
position: relative;
float: right;
width:90%;
}

.login-image-username{
  position: relative;
  float: left;
  width: 3%;
  height: 3%;
  margin:auto;
}

.login-input-password{
  width:90%;
  margin: auto;
  border-bottom: 2px solid #ce1370 !important;
  background-image: url("../img/password_icon.png");
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: 10%;
  padding-left: 10% !important;
  background-position: left center !important;
  margin-top: 5%;
  
}*/

.login-username input{
width:auto;
background-color:transparent;
padding-left:3%;
}

.login-username img{
  float: left;
  margin-left: 20px !important;
  margin-right: 5px !important;
  height:20px;
  width: 13px;
}

.login-username{
  margin: 5%;
  left:10px;
  border-bottom: 2px solid #ce1370 !important;
}

.login-password input{
width:auto;
background-color:transparent;
padding-left:3%;
}

.login-password img{
  float: left;
  margin-left: 10px !important;
  height: 12px;
  width: 30px;
}

.login-password{
  margin: 5%;
  left:10px;
  border-bottom: 2px solid #ce1370 !important;
}


.align-center{
  text-align: center;
  width: 100%;
}

.pink-color{
  color: #ce1370;
}

.login-scutops-image{
  margin:5%;
}

.login-text{
  color: #ce1370;
  padding:0 2%;
  font-weight: 500;
 
}

.login-button{
  background-color: #ce1370;
  color:#FDF7F6;
  width: 90%;
  border: none;
  height:10%;
  margin-top:10%; 
  margin-bottom: 5%;
  padding:5%;
  border-radius: 5px;
  box-shadow: 1px -1px 5px #858180;/*vertical horizontal blur color*/
}

.login-link{
  text-decoration: none;
  font-weight: bold;
  color: #ce1370;
}

.background{
  background-color: black;
}
