html{
  background-image: url("../img/home-bg.png")
}

.login-input-username{
  width:90%;
  margin: auto;
  border-bottom: 2px solid #ce1370 !important;
  background-image: url("../img/User_icon.png");
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: 5% ;
  padding-left: 10% !important;
  background-position: left center;
}

.login-input-password{
  width:90%;
  margin: auto;
  border-bottom: 2px solid #ce1370 !important;
  background-image: url("../img/password_icon.png");
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: 10%;
  padding-left: 10% !important;
  background-position: left center;
  margin-top: 5%;
}

.align-center{
  text-align: center;
  width: 100%;
}

.pink-color{
  color: #ce1370;
}

.login-scutops-image{
  margin:5%;
}

.login-text{
  color: #ce1370;
}

.login-button{
  background-color: #ce1370;
  color:#fdf7c2;
  width: 90%;
  border: none;
  height:10%;
  margin-top:10%; 
  margin-bottom: 5%;
  padding:5%;
  border-radius: 5px;
}

.login-link{
  text-decoration: none;
  font-weight: bold;
  color: #ce1370;
}

.background{
  background-color: black;
}
