<ion-view title={{pageTitle}}>
	<ion-content class="liveUpdate-page">
		<div class="ion-content">

			<div class="update-options row">
				<div class="col-33 align-center">PAST
				</div>
				<div class="col-33 align-center">LIVE
				</div>
				<div class="col-33 align-center">UPCOMING
				</div>
			</div>

			<div class="align-center content">

				<div>
					Order ID:COK00000
				</div>
				<div>
					10 Jan,Cleaning
				</div>
				<div>
					<div class="align-center row">
						<div class="time col-33">07:00am</div>
						<div class="align-center col-33"><img class="update-image" src="img/update.gif"/></div>
						<div class="details col-33">details</div>
					</div>
					<div class="align-center row">
						<div class="time col-33">07:00am</div>
						<div class="align-center col-33"><img class="update-image" src="img/update.gif"/></div>
						<div class="details col-33">details</div>
					</div>
					<div class="align-center row">
						<div class="time col-33">07:00am</div>
						<div class="align-center col-33"><img class="update-image" src="img/update.gif"/></div>
						<div class="details col-33">details</div>
					</div>
					<div class="align-center row">
						<div class="time col-33">07:00am</div>
						<div class="align-center col-33"><img class="update-image" src="img/update.gif"/></div>
						<div class="details col-33">details</div>
					</div>
					<div class="align-center row">
						<div class="time col-33">07:00am</div>
						<div class="align-center col-33"><img class="update-image" src="img/update.gif"/></div>
						<div class="details col-33">details</div>
					</div>
				</div>

				<div class="row">
					<div class="align-center col-50"><img class="mini-buttons" src="img/call.gif"/></div>
					<div class="align-center col-50"><img class="mini-buttons" src="img/pay.gif"/></div>
				</div>

				<div >RATE THIS SERVICE </div>
				<div class="stars align-center">
					<div>
						<form action="">
							<input class="star " id="star-5" type="radio" name="star"/>
							<label class="star " for="star-5"></label>
							<input class="star " id="star-4" type="radio" name="star"/>
							<label class="star " for="star-4"></label>
							<input class="star " id="star-3" type="radio" name="star"/>
							<label class="star " for="star-3"></label>
							<input class="star " id="star-2" type="radio" name="star"/>
							<label class="star " for="star-2"></label>
							<input class="star " id="star-1" type="radio" name="star"/>
							<label class="star " for="star-1"></label>	
						</form>
					</div>
				</div>

			</div>
			

		</div>
	</ion-content>
</ion-view>

<!--ce1370-->
