<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">

		<div class="row">
			<div class="col-20">
			</div>
			<div class="col scutops-image-logo">
				<img src="img/scutops-logo.png" width="100%"/>
			</div>
			<div class="col-20">
			</div>
		</div>

		<div class="align-center">
			<h4 class="text-bold">Create an Account</h4>
		</div>

		<div>

			<div class="margin-5 border-pink" >
				<input type="text" placeholder="Email Address" class="input-style"/>
			</div>

			<div class="margin-5 border-pink">
				<input type="text" placeholder="Phone Number" class="input-style"/>
			</div>

			<div class="margin-5 border-pink">
				<input type="text" placeholder="Address" class="input-style"/>
			</div>

			<div class="margin-5 border-pink">
				<input type="text" placeholder="Landmark" class="input-style"/>
			</div>


		</div>

		<div class="align-center">
			<button class="button-style" ng-click="SignUp.signup()"> SIGN UP</button>
		</div>

	</ion-content>
</ion-view>

<!--ce1370-->
