<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">

			<div class="row header"  >
				<div class="col-20 padding-header" >
					<img src="img/menu-icon.png" style=" margin-left:25px "/>
				</div>
				<div class="col  align-center" >
					<h3 class="text-bold">ScutOps</h3>
				</div>
				<div class="col-20" >
					<img src="img/notification-icon.png" class="icon-dimensions float-right" style=" margin-right:25px " />
				</div>
			</div>

			<div class="main-content">
				<div class="padding-top-10">
					<img src="img/block-icon.png" class="small-icon-dimensions float-left" style="margin-top:3px" />
					<p class="font-10 float-left" style="padding-left:2%" >Choose Service</p>
				</div>

				
				<div class="row">

					<div class="col font-10 align-center" >
						<img src="img/tic-icon.png" class="tic-icon"/>
						<img src="img/coocking-icon.png" class="circular-icon" width="90%"/>
						<p>COOKING</p>

					</div>
					<div class="col font-10 align-center">
						<img src="img/cleaning-icon.png" class="circular-icon" width="90%"/>
						<p>CLEANING</p>
					</div>
					<div class="col font-10 align-center">
						<img src="img/spcialized-cooking-icon.png" class="circular-icon" width="90%"/>
						<p>SPECIALIZED COOKING</p>
					</div>
					<div class="col font-10 align-center">
						<img src="img/specialized-cleaning-icon.png" class="circular-icon" width="90%"/>
						<p>SPECIALIZED CLEANING</p>
					</div>
				</div>
			
					<!--<div class="float-left background">
						<img src="img/coocking-icon.png" width="40%"/>
					</div>
					<div class="float-left">
						<img src="img/coocking-icon.png" width="40%"/>
					</div>
					<div class="float-left">
						<img src="img/coocking-icon.png" width="40%"/>
					</div>-->

				<div >
					<img src="img/instructions-logo.png" class="small-icon-dimensions float-left" style="margin-top:3px" />
					<p class="font-10 float-left" style="padding-left:2%" >Instructions</p>
				</div>

				<div style="padding-right:30px !important">
					<textarea class="textarea" rows="8" cols="30" placeholder="Enter the instructions to be passed on to the professional."></textarea>
                </div>


				<div class="padding-top-10">
					<img src="img/block-icon.png" class="small-icon-dimensions float-left" style="margin-top:3px" />
					<p class="font-10 float-left" style="padding-left:2%" >Choose Cuisine</p>
				</div>

				
				<div class="row">
					<div class="col font-10 align-center" >
						<img src="img/break-fast-icon.png" class="circular-icon" width="90%"/>
						<p>BREAKFAST</p>
					</div>
					<div class="col font-10 align-center">
						<img src="img/lunch-icon.png" class="circular-icon" width="90%"/>
						<p>LUNCH</p>
					</div>
					<div class="col font-10 align-center">
						<img src="img/snacks-icon.png" class="circular-icon" width="90%"/>
						<p>SNACKS</p>
					</div>
					<div class="col font-10 align-center">
						<img src="img/dinner-icon.png" class="circular-icon" width="90%"/>
						<p>DINNER</p>
					</div>
				</div>
			

				<div >
					<button class="button-style book-button-class">BOOK SERVICE</button>
				</div>
			</div>

				
			<div class="row footer" >
				<div class="col-25 font-10 pink-color align-center">
					<img src="img/home-icon.png" class="icon-dimensions"/>
					<p>HOME</p>
				</div>
				<div class="col-25 font-10 pink-color align-center">
					<img src="img/history-icon.png" class="icon-dimensions"/>
					<p>HISTORY</p>
				</div>
				<div class="col-25 font-10 pink-color align-center">
			 		<img src="img/account-icon.png" class="icon-dimensions"/>
					<p>ACCOUNT</p>
				</div>
				<div class="col-25 font-10 pink-color align-center">
					<img src="img/settings-icon.png" class="icon-dimensions"/>
					<p>SETTINGS</p>
				</div>
			</div>

		
					
	</ion-content>
</ion-view>

<!--ce1370-->
