<ion-view title={{pageTitle}}>
	<ion-content class="about-page">
		<div class="ion-content">

			<div class="content">
				<div><a href="http://www.scutops.com/contact.html">Contact Us </a></div>
				<div><a href="https://play.google.com/store?hl=en">Rate us on Google Play</a></div>
				<div><a href="https://www.facebook.com/scutops/">Like us on Facebook </a></div>
				<div><a href="http://www.scutops.com/termsandconditions.html">Terms and Conditions</a></div>
			</div>

		</div>
	</ion-content>
</ion-view>

<!--ce1370-->
