<ion-view title={{pageTitle}}>
	<ion-content class="background-page">
		<div class="ion-content ">

				<!--<div class="align-center login-scutops-div">
					<img src="img/scutops-logo.png" class="login-scutops-image"/>
				</div>-->
			<div class="row">
			 	<div class="col-20">
			 	</div>

			 	<div class="col scutops-image-logo">
					<img src="img/scutops-logo.png" width="100%"/>
				</div>
				
				<div class="col-20">
				</div>
			</div>	
			
		<div class="align-center">
			<div class="login-username margin-5">
				<img src="img/User_icon.png" />
				<input type="text" placeholder="Username" class="input-style"/>
			</div>
		</div>

		<div class="align-center">
			<div class="login-password margin-5" >	
				<img src="img/password_icon.png" />
				<input type="password" placeholder="Password" class="input-style"/>
			</div>	
		</div>

			<div class="align-center">
				<button class="button-style" ng-click="Login.authenticateUser()">LOGIN</button>
			</div>
			
			<div class="login-text align-center"> 
				<p> Don't have an account? <span class="text-bold cursor-pointer" ng-click="Login.SignUp()">Sign up! </span></p>
				<p> Forgot Password? </p>
			</div>
			

	</ion-content>
</ion-view>

<!--ce1370-->
