<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">

				<!--<div class="align-center login-scutops-div">
					<img src="img/scutops-logo.png" class="login-scutops-image"/>
				</div>-->
			<div class="row">
			 	<div class="col-20">
			 	</div>

			 	<div class="col login-scutops-image">
					<img src="img/scutops-logo.png" width="100%"/>
				</div>
				
				<div class="col-20">
				</div>
			</div>	
			

			<div class="align-center">
				<input type="text" placeholder="username" class="login-input-username"/>
				<input type="password" placeholder="password" class="login-input-password"/>
			</div>	

			<div class="align-center">
				<button class="login-button">LOGIN</button>
			</div>
			
			<div class="login-text align-center"> 
				<p> Don't have an account? <a href=" " class="login-link">Sign up! </a></p>
				<p> Forgot Password? </p>
			</div>
			

	</ion-content>
</ion-view>

<!--ce1370-->
