<ion-view title={{pageTitle}}>
	<ion-content>
		<div class="ion-content ">


			<div class="row" style="padding-top:30px" >
				<div class="col-20 padding-header" >
					<img src="img/menu-icon.png" style=" margin-left:25px "/>
				</div>
				<div class="col  align-center" >
					<h3 class="text-bold">Set Location</h3>
				</div>
				<div class="col-20" >
					<img src="img/notification-icon.png" class="icon-dimensions" style=" margin-right:25px " />
				</div>
			</div>
<!-- -->
			<div class="align-center" class="map-input-container">
				<div class="service-location">
					<p class="margin0">SERVICE LOCATION</p>
					<input id="location-input" type="text" placeholder="Enter Location"/>
				</div>
				<div id="map" class="background" >
				</div>
				<!--<div class="align-center">
					<p class="signup-service-text">SERVICE LOCATION</p>
					<input type="text" placeholder="Enter Location"/>
				</div>-->
			</div>

			<div class="signup-table">
				<div class="row padding0" >
					<div class="col-50 align-center" style="border-bottom:1px solid #E27E88" >
							<p class="title-table" style="line-height: 15px;border-right:1px solid #E27E88;">DATE</br>
							DEC 15</p>
					</div>
					<div class="col-50  align-center" style="border-bottom:1px solid #E27E88;">
						<p class=" title-table" style="line-height: 15px">NO. OF PROFESSIONALS</br>
							1</p>
					</div>
				</div>

				<div class="row">
					<div class="col-50  align-center">
						<p class=" title-table" style="line-height: 15px;border-right:1px solid #E27E88;">START TIME</br>
							2:00pm</p>
					</div>
					<div class="col-50  align-center">
						<p class="title-table" > Have a promocode?</p>
					</div>
				</div>

			</div>

			<div class="align-center">
				<button class="button-style">BOOK NOW </button>
			</div>			
		</div>
	</ion-content>
</ion-view> 

<!--ce1370-->
