<ion-view title={{pageTitle}}>
	<ion-content class="feedback-page">
		
		<div class="ion-content" >
			
			<div class="row header" >
				<div class="col-20" >
					<img src="img/menu-icon.png" class="left-icon"/>
				</div>
				<div class="col  align-center" >
					<h3 class="text-bold">Feedback</h3>
				</div>
				<div class="col-20" >
					<img src="img/notification-icon.png" class="right-icon float-right" />
				</div>
			</div>

			<div class="feedback-text align-center" >We are always looking to improve ScutOps<br/>We'd love to hear your suggestions or feedback
			</div>
			<div>
				<textarea class="textarea feedback-input" rows="10" placeholder="Enter your feedback here"></textarea>
			</div>
			<div class="align-center"> <button class="button-style">SUBMIT</button> </div>
			</div>
					
	</ion-content>
</ion-view>