<ion-view title={{pageTitle}}>
	<ion-content class="settings-page">
		<div class="ion-content">

			<div class="content">
				<div>
					<div class="text-bold">Push notifications</div>
					<div>
						<div class="text">New Deals and Offers</div>
						<label class="toggle">
							<input type="checkbox"/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</div>
					<div class="live-service-alerts">
						<div class="text">Live Service Alerts</div>
						<label class="toggle">
							<input type="checkbox"/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</div>
				</div>

				<div class="help">
					<div class="text-bold">Help</div>
					<div>
						<div class="text">FAQ</div>
						<div class="text">Contact Us</div>
					</div>
				</div>
			</div>


		</div>
	</ion-content>
</ion-view>

<!--ce1370-->
