<ion-view title={{pageTitle}}>
	<ion-content class="confirm-booking">
		
		<div class="ion-content" >
			

			<div class="success-message align-center" ng-show="ConfirmBooking.successMessagePopup">
				<img src="img/tick-payment.gif" class="tick-image"/>
				<h3>Success</h3>
				<div class="text">Thank you for using Scutops</div>
				<div class="text">New Balance : Rs.{{ConfirmBooking.finalBalance}}</div>
				<button class="button-style waves-effect" ng-click="ConfirmBooking.goToLive()">OK</button>
			</div>

			<div class="main-content2 font-8" >
				<div class="block-major">
					<div>Total advance amount to be paid
						<div class="float-right" id="amount">Rs.{{ConfirmBooking.bookingAmount}}</div>
			    	</div>

			    	<div>
			    		Select an option to pay
			    	</div>
			    	<hr/>
			    </div>
			    

			    <div class="block-major">
			    	<div class="scutops-money">
			    		<div class="block text-bold align-center"><img src="img/scutops.png" class="float-left"/>Scutops Money</div>
			    		<hr/>
			    		<div class="block">
			    			<div>Available Balance <div class="float-right">Rs.{{ConfirmBooking.initialBalance}}</div></div>
			    			<div>To be paid <div class="float-right">Rs.{{ConfirmBooking.bookingAmount}}</div>
			    			</div>
			    			
			    		</div>
			    		<hr/>
			    		<div class="block">Updated Balance <div class="float-right">Rs.{{ConfirmBooking.bookingAmount}}</div></div>
			    		<div class="align-center"><button class="button-style waves-effect" ng-click="ConfirmBooking.bookingPayment()">PROCEED TO PAY</button></div>
			    	
					</div>
				</div>

			<div class="block">
				<div class="text-bold" style="color:black">Other Payment Modes</div><hr/>
				<div>Credit Card</div><hr/>
				<div>Net Banking</div><hr/>
				<div>Other Wallets</div>
			</div>
		</div>
					
	</ion-content>
</ion-view>