<ion-view title={{pageTitle}}>
	<ion-content class="confirm-booking">
		
		<div class="ion-content" >
			
			<div class="row header" >
				<div class="col-20 padding-header" >
					<img src="img/menu-icon.png" style=" margin-left:25px "/>
				</div>
				<div class="col  align-center" >
					<h3 class="text-bold">ScutOps</h3>
				</div>
				<div class="col-20" >
					<img src="img/notification-icon.png" class="icon-dimensions float-right" style=" margin-right:25px " />
				</div>
			</div>

			<div class="main-content2 font-8" >
				<div class="block-major">
					<div>Total advance amount to be paid
						<div class="float-right" id="amount">Rs. 155</div>
			    	</div>

			    	<div>
			    		Select an option to pay
			    	</div>
			    	<hr/>
			    </div>
			    

			    <div class="block-major">
			    	<div class="scutops-money">
			    		<div class="block text-bold align-center"><img src="img/scutops.png" class="float-left"/>Scutops Money</div>
			    		<hr/>
			    		<div class="block">
			    			<div>Available Balance <div class="float-right">Rs.500</div></div>
			    			<div>To be paid <div class="float-right">Rs.155</div>
			    			</div>
			    			
			    		</div>
			    		<hr/>
			    		<div class="block">Updated Balance <div class="float-right">Rs.345</div></div>
			    		<div class="align-center"><button class="button-style" >PROCEED TO PAY</button></div>
			    	
					</div>
				</div>

			<div class="block">
				<div class="text-bold" style="color:black">Other Payment Modes</div><hr/>
				<div>Credit Card</div><hr/>
				<div>Net Banking</div><hr/>
				<div>Other Wallets</div>


			</div>
		</div>
					
	</ion-content>
</ion-view>