<ion-view title={{pageTitle}}>
	<ion-content >
		<div class="ion-content ">

			<div class="menu" ng-show="val21">
			 	
			 	<div class="background user-profile align-center">
			 		<img src="" class="user-dp"/>
			 		<div class="user-name">Nandu Dinesan</div>
			 	</div>

			 	<div class="options">
			 		<div>
			 			<img src="img/feedback.png" class="icon-small"/>
			 			<div>My Bookings</div>
			 		</div>
			 		<div>
			 			<img src="img/feedback.png" class="icon-small"/>
			 			<div>Promotions</div>
			 		</div>
			 		<div>
			 			<img src="img/feedback.png" class="icon-small"/>
			 			<div>My Profile</div>
			 		</div>
			 		<div>
			 			<img src="img/feedback.png" class="icon-small"/>
			 			<div>Notifications</div>
			 		</div>
			 		<div>
			 			<img src="img/feedback.png" class="icon-small"/>
			 			<div>Help</div>
			 		</div>
			 		<div>
			 			<img src="img/feedback.png" class="icon-small"/>
			 			<div>Feedback</div>
			 		</div>
			 		<div>
			 			<img src="img/feedback.png" class="icon-small"/>
			 			<div>Settings</div>
			 		</div>

			 	</div>
			 	<hr/>

			 	<div>About</div>
			 	<div>Log Out</div>

			</div>
			

	</ion-content>
</ion-view>

<!--ce1370-->
