<ion-view title={{pageTitle}}>
	<ion-content class="dashboard">
		
		<div class="ion-content">

		    <div class="menu" ng-show="val21" ng-click="Dashboard.val21=!Dashboard.val21">
			 	
			 	<div class="user-profile align-center">
			 		<img src="" class="user-dp"/>
			 		<div class="user-name">Nandu Dinesan</div>
			 	</div>

			 	<div class="options">
			 		<div>
			 			<img src="img/history-icon.png" />
			 			<div>My Bookings</div>
			 		</div>
			 		<div>
			 			<img src="img/promotions-icon.gif" />
			 			<div>Promotions</div>
			 		</div>
			 		<div>
			 			<img src="img/history-icon.png" />
			 			<div>My Profile</div>
			 		</div>
			 		<div>
			 			<img src="img/history-icon.png" />
			 			<div>Notifications</div>
			 		</div>
			 		<div ng-click="Dashboard.helpCall()">
			 			<img src="img/help2.gif" />
			 			<div>Help</div>
			 		</div>
			 		<div ng-click="Dashboard.feedbackCall()">
			 			<img src="img/history-icon.png" />
			 			<div>Feedback</div>
			 		</div>
			 		<div ng-click="Dashboard.settingsCall()">
			 			<img src="img/settings-icon1.gif" class="icon-small"/>
			 			<div>Settings</div>
			 		</div>

			 	</div>
			 	<hr/>

			 	<div class="options left-padding">
			 		<div ng-click="Dashboard.aboutCall()">About</div>
			 		<div>Log Out</div>
			 	</div>

			</div>
			<div class="row header" >
				<div class="col-20" ng-click="Dashboard.val21=!Dashboard.val21">
					<img src="img/menu-icon.png" class="left-icon"/>
				</div>
				<div class="col  align-center" >
					<h3 class="text-bold">ScutOps</h3>
				</div>
				<div class="col-20" >
					<img src="img/notification-icon.png" class="right-icon float-right" />
				</div>
			</div>

			<div class="main-content content">
				<div class="title">
					<img src="img/block-icon.png" class="small-icon-dimensions"  />
					<div>Choose Service</div>
				</div>

				
				<div class="row">
					<div class="col-25 align-center" style="position:relative" >
						<img src="img/tic-icon.png" class="tic-icon" ng-show="val1"/>
						<img src="img/coocking-icon.png" class="circular-icon" ng-click="Dashboard.val1=!Dashboard.val1"/>
						<div>COOKING</div>

					</div>
					<div class="col-25 align-center" style="position:relative">
						<img src="img/tic-icon.png" class="tic-icon" ng-show="val2"/>
						<img src="img/cleaning-icon.png" class="circular-icon"  ng-click="Dashboard.val2=!Dashboard.val2" />
						<div>CLEANING</div>
					</div>
					<div class="col-25 align-center" style="position:relative">
						<img src="img/tic-icon.png" class="tic-icon" ng-show="val3"/>
						<img src="img/spcialized-cooking-icon.png" class="circular-icon" ng-click="Dashboard.val3=!Dashboard.val3"/>
						<div>SPECIALIZED COOKING</div>
					</div>
					<div class="col-25 align-center" style="position:relative">
						<img src="img/tic-icon.png" class="tic-icon" ng-show="val4"/>
						<img src="img/specialized-cleaning-icon.png" class="circular-icon" ng-click="Dashboard.val4=!Dashboard.val4"/>
						<div>SPECIALIZED CLEANING</div>
					</div>
				</div>

				<div class="title">
					<img src="img/instructions-logo.png" class="small-icon-dimensions"/>
					<div>Instructions</div>
				</div>

				<div class="textarea-outer">
					<textarea class="textarea" rows="8" cols="30" placeholder="Enter the instructions to be passed on to the professional."></textarea>
                </div>


               <div ng-show="val1">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div>Choose Cuisine</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val5"/>
							<img src="img/break-fast-icon.png" class="circular-icon" ng-click="Dashboard.val5=!Dashboard.val5"/>
							<div>BREAKFAST</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val6"/>
							<img src="img/lunch-icon.png" class="circular-icon" ng-click="Dashboard.val6=!Dashboard.val6"/>
							<div>LUNCH</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val7"/>
							<img src="img/snacks-icon.png" class="circular-icon" ng-click="Dashboard.val7=!Dashboard.val7"/>
							<div>SNACKS</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val8"/>
							<img src="img/dinner-icon.png" class="circular-icon" ng-click="Dashboard.val8=!Dashboard.val8"/>
							<div>DINNER</div>
						</div>
					</div>
				</div>

				<div ng-show="val2">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div >Choose Service Area</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val9"/>
							<img src="img/bedroom-icon.png" class="circular-icon" ng-click="Dashboard.val9=!Dashboard.val9"/>
							<div>BEDROOM</div>
						</div>
						<div class="col25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val10"/>
							<img src="img/living-room-icon.png" class="circular-icon" ng-click="Dashboard.val10=!Dashboard.val10"/>
							<div>LIVING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val11"/>
							<img src="img/dining-room-icon.png" class="circular-icon" ng-click="Dashboard.val11=!Dashboard.val11"/>
							<div>DINING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val12"/>
							<img src="img/washroom-icon.png" class="circular-icon" ng-click="Dashboard.val12=!Dashboard.val12"/>
							<div>WASHROOM</div>
						</div>
					</div>
				</div>

				<div ng-show="val3">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div>Choose Cuisine</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val13"/>
							<img src="img/break-fast-icon.png" class="circular-icon" ng-click="Dashboard.val13=!Dashboard.val13"/>
							<div>BREAKFAST</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val14"/>
							<img src="img/lunch-icon.png" class="circular-icon" ng-click="Dashboard.val14=!Dashboard.val14"/>
							<div>LUNCH</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val15"/>
							<img src="img/snacks-icon.png" class="circular-icon" ng-click="Dashboard.val15=!Dashboard.val15"/>
							<div>SNACKS</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val16"/>
							<img src="img/dinner-icon.png" class="circular-icon" ng-click="Dashboard.val16=!Dashboard.val16"/>
							<div>DINNER</div>
						</div>
					</div>
				</div>

				<div ng-show="val4">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div>Choose Service Area</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val17"/>
							<img src="img/bedroom-icon.png" class="circular-icon" ng-click="Dashboard.val17=!Dashboard.val17"/>
							<div>BEDROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val18"/>
							<img src="img/living-room-icon.png" class="circular-icon" ng-click="Dashboard.val18=!Dashboard.val18"/>
							<div>LIVING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val19"/>
							<img src="img/dining-room-icon.png" class="circular-icon" ng-click="Dashboard.val19=!Dashboard.val19"/>
							<div>DINING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="val20"/>
							<img src="img/washroom-icon.png" class="circular-icon" ng-click="Dashboard.val20=!Dashboard.val20"/>
							<div>WASHROOM</div>
						</div>
					</div>
				</div>

				<div class="align-center button-class">
					<button class="button-style" ng-click="Dashboard.bookService()">BOOK SERVICE</button>
				</div>
		
			</div>
		
			
		</div>
			
					
	</ion-content>
	
</ion-view>