<ion-view title={{pageTitle}}>
	<ion-content class="dashboard">
		
		<div class="ion-content">

		    <div class="menu" ng-show="Dashboard.menu" ng-click="Dashboard.menu=!Dashboard.menu;Dashboard.displayMenu()">
			 	
			 	<div class="user-profile align-center">
			 		<img src="" class="user-dp"/>
			 		<div class="user-name">Nandu Dinesan</div>
			 	</div>

			 	<div class="options">
			 		<div class="menu-item waves-effect">
			 			<img src="img/history-icon.png" />
			 			<div>Book a Package</div>
			 		</div >
			 		<div class="menu-item waves-effect">
			 			<img src="img/history-icon.png" />
			 			<div>My Bookings</div>
			 		</div >
			 		<div class="menu-item waves-effect">
			 			<img src="img/promotions-icon.gif" />
			 			<div>Promotions</div>
			 		</div>
			 		<div class="menu-item waves-effect">
			 			<img src="img/history-icon.png" />
			 			<div>My Profile</div>
			 		</div>
			 		<div class="menu-item waves-effect">
			 			<img src="img/history-icon.png" />
			 			<div>Notifications</div>
			 		</div>
			 		<div class="menu-item waves-effect" >
			 			<img src="img/history-icon.png" />
			 			<a ng-href="http://www.scutops.com/faqs.html">Help</a>
			 		</div>
			 		<div class="menu-item waves-effect" ng-click="Dashboard.feedbackCall()">
			 			<img src="img/history-icon.png" />
			 			<div>Feedback</div>
			 		</div>
			 		<div class="menu-item waves-effect" ng-click="Dashboard.settingsCall()">
			 			<img src="img/settings-icon1.gif" class="icon-small"/>
			 			<div>Settings</div>
			 		</div>

			 	</div>
			 	<hr/>

			 	<div class="options left-padding">
			 		<div ng-click="Dashboard.aboutCall()" class="menu-item">About</div>
			 		<div ng-click="Dashboard.logOut()" class="waves-effect menu-item">Log Out</div>
			 	</div>

			</div>
			<div class="row header" >
				<div class="col-20" ng-click="Dashboard.menu=!Dashboard.menu;Dashboard.displayMenu()">
					<img src="img/menu-icon.png" class="left-icon"/>
				</div>
				<div class="col  align-center" >
					<h3 class="text-bold">ScutOps</h3>
				</div>
				<div class="col-20" >
					<img src="img/notification-icon.png" class="right-icon float-right" />
				</div>
			</div>

			<div class="main-content content" id="content-portion">
				<div class="title">
					<img src="img/block-icon.png" class="small-icon-dimensions"  />
					<div>Choose Service</div>
				</div>

				
				<div class="row">
					<div class="col-25 align-center" style="position:relative" >
						<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.cooking"/>
						<img src="img/coocking-icon.png" class="circular-icon" ng-click="Dashboard.cooking=!Dashboard.cooking"/>
						<div>COOKING</div>

					</div>
					<div class="col-25 align-center" style="position:relative">
						<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.cleaning"/>
						<img src="img/cleaning-icon.png" class="circular-icon"  ng-click="Dashboard.cleaning=!Dashboard.cleaning" />
						<div>CLEANING</div>
					</div>
					<div class="col-25 align-center" style="position:relative">
						<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spCooking"/>
						<img src="img/spcialized-cooking-icon.png" class="circular-icon" ng-click="Dashboard.spCooking=!Dashboard.spCooking"/>
						<div>SPECIALIZED COOKING</div>
					</div>
					<div class="col-25 align-center" style="position:relative">
						<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spCleaning"/>
						<img src="img/specialized-cleaning-icon.png" class="circular-icon" ng-click="Dashboard.spCleaning=!Dashboard.spCleaning"/>
						<div>SPECIALIZED CLEANING</div>
					</div>
				</div>

				<div class="title">
					<img src="img/instructions-logo.png" class="small-icon-dimensions"/>
					<div>Instructions</div>
				</div>

				<div class="textarea-outer">
					<textarea class="textarea" rows="8" cols="30" placeholder="Enter the instructions to be passed on to the professional."></textarea>
                </div>


               <div ng-show="Dashboard.cooking">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div>Choose Cuisine</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.breakfast"/>
							<img src="img/break-fast-icon.png" class="circular-icon" ng-click="Dashboard.breakfast=!Dashboard.breakfast"/>
							<div>BREAKFAST</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.lunch"/>
							<img src="img/lunch-icon.png" class="circular-icon" ng-click="Dashboard.lunch=!Dashboard.lunch"/>
							<div>LUNCH</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.snacks"/>
							<img src="img/snacks-icon.png" class="circular-icon" ng-click="Dashboard.snacks=!Dashboard.snacks"/>
							<div>SNACKS</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.dinner"/>
							<img src="img/dinner-icon.png" class="circular-icon" ng-click="Dashboard.dinner=!Dashboard.dinner"/>
							<div>DINNER</div>
						</div>
					</div>
				</div>

				<div ng-show="Dashboard.cleaning">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div >Choose Service Area</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.bedRoom"/>
							<img src="img/bedroom-icon.png" class="circular-icon" ng-click="Dashboard.bedRoom=!Dashboard.bedRoom"/>
							<div>BEDROOM</div>
						</div>
						<div class="col25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.livingRoom"/>
							<img src="img/living-room-icon.png" class="circular-icon" ng-click="Dashboard.livingRoom=!Dashboard.livingRoom"/>
							<div>LIVING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.diningRoom"/>
							<img src="img/dining-room-icon.png" class="circular-icon" ng-click="Dashboard.diningRoom=!Dashboard.diningRoom"/>
							<div>DINING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.washRoom"/>
							<img src="img/washroom-icon.png" class="circular-icon" ng-click="Dashboard.washRoom=!Dashboard.washRoom"/>
							<div>WASHROOM</div>
						</div>
					</div>
				</div>

				<div ng-show="Dashboard.spCooking">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div>Choose Cuisine</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spBreakfast"/>
							<img src="img/break-fast-icon.png" class="circular-icon" ng-click="Dashboard.spBreakfast=!Dashboard.spBreakfast"/>
							<div>BREAKFAST</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spLunch"/>
							<img src="img/lunch-icon.png" class="circular-icon" ng-click="Dashboard.spLunch=!Dashboard.spLunch"/>
							<div>LUNCH</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spSnacks"/>
							<img src="img/snacks-icon.png" class="circular-icon" ng-click="Dashboard.spSnacks=!Dashboard.spSnacks"/>
							<div>SNACKS</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spDinner"/>
							<img src="img/dinner-icon.png" class="circular-icon" ng-click="Dashboard.spDinner=!Dashboard.spDinner"/>
							<div>DINNER</div>
						</div>
					</div>
				</div>

				<div ng-show="Dashboard.spCleaning">
					<div class="title">
						<img src="img/block-icon.png" class="small-icon-dimensions" />
						<div>Choose Service Area</div>
					</div>

				
					<div class="row">
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spBedRoom"/>
							<img src="img/bedroom-icon.png" class="circular-icon" ng-click="Dashboard.spBedRoom=!Dashboard.spBedRoom"/>
							<div>BEDROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spLivingRoom"/>
							<img src="img/living-room-icon.png" class="circular-icon" ng-click="Dashboard.spLivingRoom=!Dashboard.spLivingRoom"/>
							<div>LIVING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spDiningRoom"/>
							<img src="img/dining-room-icon.png" class="circular-icon" ng-click="Dashboard.spDiningRoom=!Dashboard.spDiningRoom"/>
							<div>DINING ROOM</div>
						</div>
						<div class="col-25 align-center" style="position:relative">
							<img src="img/tic-icon.png" class="tic-icon" ng-show="Dashboard.spWashRoom"/>
							<img src="img/washroom-icon.png" class="circular-icon" ng-click="Dashboard.spWashRoom=!Dashboard.spWashRoom"/>
							<div>WASHROOM</div>
						</div>
					</div>
				</div>

				<div class="align-center button-class">
					<button class="button-style waves-effect" ng-click="Dashboard.bookService()">BOOK SERVICE</button>
				</div>
		
			</div>
		
			
		</div>
			
					
	</ion-content>
	
</ion-view>