<ion-view class="header-page">
	<ion-nav-bar align-title="center" class="header">
		<ion-nav-back-button class="left-button"></ion-nav-back-button>
	    <h1 class="title">{{pageTitle}}</h1>
	    <div class="buttons right-buttons">
	    	<img src="img/notification-icon.png"/>
	    </div>
	</ion-nav-bar>

	<!--<div class="bar bar-header header">
	   <button menu-toggle="left" class="button icon ion-navicon"></button>
	      <h1 class="title">{{pageTitle}}</h1>
	   <button class="button"><img src="img/notification-icon.png"/></button>
	</div>-->

	<ion-nav-view></ion-nav-view>
</ion-view>

