<ion-view title={{pageTitle}}>
	<ion-content class="signup-page">
		<div class="ion-content ">

		<div class="row">
			<div class="col-20">
			</div>
			<div class="col scutops-image-logo">
				<img src="img/scutops-logo.png" width="100%"/>
			</div>
			<div class="col-20">
			</div>
		</div>

		<div class="align-center">
			<h4 class="text-bold">Enter your phone number</h4>
		</div>

		<div class="input-container">
			<div>
				<input type="text" placeholder="Phone Number" ng-model="PhoneNumber.phoneNumber"/>
			</div>
		</div>

		<div class="align-center">
			<button class="button-style waves-effect" ng-click="PhoneNumber.addPhoneNumber()"> ENTER</button>
		</div>
		

	</ion-content>
</ion-view>

<!--ce1370-->
